@import "theme/mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    /* background: rgba(21, 18, 27, 0); */
    background: rgba(255, 255, 255, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: @overlay0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @red;
}

/* #workspaces button.focused {
    color: @red;
    background: @red    ;
    border-radius: 10px;
} */

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @overlay0;
    color: @;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    background: @surface0;
    /* border: 1px solid #181825; */
}

#backlight {
    color: @mauve;
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @surface0;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    background: @surface0;
}

#memory {
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    color: @green;
    background: @surface0;
}

#window {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 60px;
    color: @teal;
    background: @surface0;
}

window#waybar.empty #window {  
    background:none;  
}  

#clock {
    color: @flamingo;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
    background: @surface0;
}

#network {
    color:  @pink;
    border-radius: 10px 0px 0px 10px;
    background: @surface0;
}

#bluetooth {
  font-size: 12px;
}

#pulseaudio {
    color: @lavender;
    border-left: 0px;
    border-right: 0px;
    background: @surface0;
}

#pulseaudio.microphone {
    color: @sky;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color:@yellow;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    background: @surface0;
}

#power-profiles-daemon {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    color: #a6adc8;
}

#language,
#hyprland-workspaces {
    background: @surface0;
    color: @sapphire;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}
