@import "theme/mocha.css";

* {
	font-family: JetBrains Mono;
	font-size: 24px;
	transition-property: background-color;
	transition-duration: 0.1s;
}

window {
	background-color: @base;
}

button {
    border-radius: 50px;
	background-color: @base;
	border-style: solid;
	border-width: 0px;
	border-color: @surface0;
	outline-style: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	margin: 15px;
}

button:focus, button:active, button:hover {
	background-color: @surface0;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
